{
    "rules": {
        "no-unused-vars": [2, {"vars": "local", "args": "after-used"}],
        "indent": [2, 4],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "space-infix-ops": [2, {"int32Hint": false}],
        "eqeqeq": [2, "smart"]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "Game": true,
        "GameScreen": true,
        "InputManager": true,
        "MainMenuScreen": true,
        "Map": true,
        "Player": true,
        "ROT": true,
        "ScreenManager": true,
        "TILE_TYPES": true,
        "ITEM_TYPES": true,
        "Inventory": true,
        "TinyTale": true,
        "Viewport": true,
        "Log": true,
        "Display": true,
        "Tile": true,
        "darken": true,
        "Monster": true,
        "MONSTER_TYPE": true
    },
    "extends": "eslint:recommended"
}
