{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true
    },
    "globals": {
        "ROT": true,
        "Game": true,
        "Input": true,
        "Map": true,
        "Player": true,
        "Pointer": true,
    },
    "extends": "eslint:recommended"
}
